%h1 New user

= form_for @form do |form|

  - if @form.step? :user
    = form.fields_for :user do |fields|
      = fields.label :name
      = fields.text_field :name

      %br

      = fields.label :phone
      = fields.text_field :phone

      %br

  - elsif @form.step? :address
    = form.fields_for :address do |fields|
      = fields.label :street_address
      = fields.text_field :street_address

      %br

      = fields.label :city
      = fields.text_field :city

      %br

  = form.submit

