%h1= @form.step?(:user) ? "User details" : "User address"

= form_for @form do |f|

  = f.hidden_field :storage_key

  - if @form.errors.present?
    %ul
      - @form.errors.full_messages.each do |message|
        %li= message

  - if @form.step? :user
    = f.fields_for @form.user do |fields|
      = fields.label :name
      = fields.text_field :name

      %br

      = fields.label :phone
      = fields.text_field :phone

      %br

      = fields.label :age
      = fields.text_field :age

      %br

      %fieldset
        %legend Sex

        = fields.label :sex, :value => "male" do
          = fields.radio_button :sex, "male"
          Male

        = fields.label :sex, :value => "female" do
          = fields.radio_button :sex, "female"
          Female

        = fields.label :sex, :value => "other" do
          = fields.radio_button :sex, "other"
          Other

      %br

  - elsif @form.step? :address
    = f.fields_for @form.address do |fields|
      = fields.label :street_address
      = fields.text_field :street_address

      %br

      = fields.label :city
      = fields.text_field :city

      %br

      = fields.label :country
      = fields.text_field :country

      %br

      = fields.label :postcode
      = fields.text_field :postcode

      %br

  = f.submit @form.step?(:user) ? "Next" : "Register"

